@model ShoppingCart
<div style="width:90%;margin:auto;" class="mt-2">
    @if(Model.CartDetails!=null && Model.CartDetails.Count() > 0)
    {
        <div class="row card-header align-items-stretch">
            <div class="col-6 card-title">
                <div class="row">
                    <div class="col-12">
                        <h4>My Basket</h4>
                    </div>
                    <div class="col-12">
                        <p class="card-text">
                             Contains 
                            <strong>@Model.CartDetails.Select(a=>a.Quantity).Sum() products</strong>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-6 card-title">
                <div class="row">
                    <div class="col-12">
                        <h4>Total (£) :
                            <span>@(Model.CartDetails.Select(item => item.Quantity * item.Book.Price).Sum().ToString("0.00"))</span>
                        </h4>
                    </div>
                    <div class="col-12">
                        <p class="blockquote-footer">(excluding delivery)</p>
                    </div>
                   
                </div>
            </div>
        </div>

       
        <table class="table table-striped">
            <tr class="table-light">                
                <th>Book Name</th>
                <th>Book Image</th>
                <th>Quantity</th>
                <th>Unit Price(£)</th>                
                <th>Sub Total (£)</th>                
            </tr>
            @foreach(var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Book.BookName</td>
                    <td>
                        @if(string.IsNullOrEmpty(item.Book.Image))
                        {
                            <img src="/Images/NoImage.jpg" style="width:60px;height:80px;">
                        }
                        else
                        {
                            <img src="/Images/@item.Book.Image" style="width:60px;height:80px;">
                        }
                    </td>
                    <td>
                        <a href="/Cart/AddItem?bookId=@item.Book.Id&redirect=1" class="btn btn-info">+</a>

                        <input style="width:70px;"class="form-control-sm" value="@item.Quantity" type="number" readonly="" fdprocessedid="znee6" wfd-id="id25">
                        
                        <a href="/Cart/RemoveItem?bookId=@item.Book.Id" class="btn btn-info">-</a>
                        </td>
                    <td>@item.Book.Price</td>
                    
                    <td>@((item.Quantity * item.Book.Price).ToString("0.00"))</td>
                    
                    
                </tr>
            }
            <tr>
                <td></td>
                <td colspan="3" style="text-align:right">Total Amount(£): </td>
                <td colspan="2">
                    @(Model.CartDetails.Select(item=>item.Quantity * item.Book.Price).Sum().ToString("0.00"))
                </td>
            </tr>
        </table>
        <div class="row card-header align-items-stretch">
            
            <div class="col-6 card-title">
                

            </div>
            <div class="col-6 card-title">
                <div class="row">
                    <div class="col-12">
                        <h4>
                            Total (£) :
                            <span>@(Model.CartDetails.Select(item => item.Quantity * item.Book.Price).Sum().ToString("0.00"))</span>
                        </h4>
                    </div>
                    <div class="col-12">
                        <p class="blockquote-footer">(excluding delivery)</p>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <h4> No items in cart.</h4>
    }
    <div class="my-2 flex-fill">
        <a class="btn btn-primary btn-lg float-right" href="/Cart/CheckOut">Check Out</a>
    </div>
</div>